## Importing required modules

In [ ]:
import pandas as pd
import numpy as np

## Importing the dataset by reading the csv file

In [37]:
data = pd.read_csv(r'C:\Users\HOME\Desktop\Data Cleaning\covid_19_data.csv')

## Displaying the first five rows of dataset

In [38]:
data.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

## Displaying the last five rows of dataset

In [39]:
data.tail()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
306424,306425,05/29/2021,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,05/29/2021,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,05/29/2021,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,05/29/2021,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

## Concise summary of the dataframe

This method prints information about a DataFrame including the index dtype and columns, non-null values and memory usage. Here we can see the memory usage is more than 18.7 MB. We can see the names of all the columns and the number of columns which is 8. We can see the datatype of entities in each column. We can see the total number of Non-Null as well as Null values.

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  object
 2   Province/State   306429 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  object
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 18.7+ MB

## Check if any null values are present
This function provides the boolean value for the complete dataset to know if any null value is present or not.

In [40]:
data.isnull()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
306424,False,False,False,False,False,False,False,False
306425,False,False,False,False,False,False,False,False
306426,False,False,False,False,False,False,False,False
306427,False,False,False,False,False,False,False,False
306428,False,False,False,False,False,False,False,False

## Detect missing values

In [56]:
data.isna()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
306424,False,False,False,False,False,False,False,False
306425,False,False,False,False,False,False,False,False
306426,False,False,False,False,False,False,False,False
306427,False,False,False,False,False,False,False,False
306428,False,False,False,False,False,False,False,False

## Presence of Null values
This function also gives a boolean value if any null value is present or not, but it gives results column-wise, not in tabular format.

In [43]:
data.isna().any()

SNo                False
ObservationDate    False
Province/State      True
Country/Region     False
Last Update        False
Confirmed          False
Deaths             False
Recovered          False
dtype: bool

## Sum of the null values preset in the dataset column-wise
This function gives the sum of the null values preset in the dataset column-wise.

In [44]:
data.isna().sum()

SNo                    0
ObservationDate        0
Province/State     78100
Country/Region         0
Last Update            0
Confirmed              0
Deaths                 0
Recovered              0
dtype: int64

## Check for null values
This function gives output in a single value if any null is present or not. The value 0 is returned if there are no Null values present whereas 1 is returned in the presence of Null values

In [45]:
data.isna().any().sum()

1

## Data types in the dataframe
This returns a series with the data type of each column

In [46]:
data.dtypes

SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

## Check for duplicate values in the dataset
This function also provides bool values for duplicate values in the dataset. As we can see, there are no duplicates in this dataset.

In [48]:
data.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
306424    False
306425    False
306426    False
306427    False
306428    False
Length: 306429, dtype: bool

## Checking for missing values

In [50]:
bool_series = pd.isnull(data["Province/State"])

## All the rows having the Province/State = NaN are returned

In [51]:
data[bool_series]

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
35,36,01/22/2020,NaN,Japan,1/22/2020 17:00,2.0,0.0,0.0
36,37,01/22/2020,NaN,Thailand,1/22/2020 17:00,4.0,0.0,2.0
37,38,01/22/2020,NaN,South Korea,1/22/2020 17:00,1.0,0.0,0.0
39,40,01/22/2020,NaN,Kiribati,1/22/2020 17:00,0.0,0.0,0.0
75,76,01/23/2020,NaN,Japan,1/23/20 17:00,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
305831,305832,05/29/2021,NaN,Vietnam,2021-05-30 04:20:55,6908.0,47.0,2896.0
305832,305833,05/29/2021,NaN,West Bank and Gaza,2021-05-30 04:20:55,307838.0,3492.0,300524.0
305833,305834,05/29/2021,NaN,Yemen,2021-05-30 04:20:55,6731.0,1319.0,3399.0
305834,305835,05/29/2021,NaN,Zambia,2021-05-30 04:20:55,94751.0,1276.0,91594.0
305835,305836,05/29/2021,NaN,Zimbabwe,2021-05-30 04:20:55,38933.0,1594.0,36578.0

## Fill all the Null values
The column 'Province/State' contains NaN values which can be replaced. Here we are replacing it with the value 'Not Specified'.

In [57]:
data["Province/State"].fillna("Not Specified", inplace = True)

## Checking for Null values
Since the value 0 is returned, we can confirm that there are no null values present.

In [54]:
data.isna().any().sum()

0

## Checking for any Null values
There are no Null values present

In [58]:
data.isna().sum()

SNo                0
ObservationDate    0
Province/State     0
Country/Region     0
Last Update        0
Confirmed          0
Deaths             0
Recovered          0
dtype: int64

## Checking for Null values

In [59]:
data.isna().any()

SNo                False
ObservationDate    False
Province/State     False
Country/Region     False
Last Update        False
Confirmed          False
Deaths             False
Recovered          False
dtype: bool

## Saving the dataset which has been cleaned

In [61]:
data.to_csv('cleaned.csv')